*.pyc
.cache/
.cache/*
.ssh/
.ssh/*
.virtualenvs/
.virtualenvs/*
.bashrc
.profile
.python_history
.pythonstartup.py
.viminfo
.vimrc
key.py
__pycache__/
__pycache__/*
.idea/
.idea/*
./static/graphics/*.psd
