{% extends "base.html" %}
{% block content %}

<h3>Bi-variate Analysis</h3>

<!-- Pick a variable, select the label field by default -->
<div class="container dataset-menu">
        <span class="custom-dropdown custom-dropdown--white custom-dropdown--border">
            <select id="interaction_selector" class="custom-dropdown__select custom-dropdown__select--white">
                {% for f in data.features %}
                <option value="{{ f.feat_index }}">{{ f.feat_name }}</option>
                {% endfor %}
            </select>
        </span>
</div>

<!-- Table with bivariate stats for selected variable against all others -->
{% for f in data.feature_interactions.keys() %}
<div id="interactions-{{ data.feature_interactions[f].feat_index }}" class="interactions-tables table-hidden">
    <h4>{{ data.feature_interactions[f].feat_name }}</h4>
    {% if data.feature_interactions[f].correlations %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Feature name
                </th>
                <th>
                    Correlation with {{ data.feature_interactions[f].feat_name }}
                </th>
                <th>
                    Covariance with {{ data.feature_interactions[f].feat_name }}
                </th>
            </tr>
            </thead>
            {% for i in data.feature_interactions[f].other_features %}
                {% if data.feature_interactions[f].correlations[i] %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ data.feature_interactions[f].correlations[i] }}</td>
                    <td>{{ data.feature_interactions[f].covariances[i] }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br/>
</div>
<div id="interactiongraphs-{{ data.feature_interactions[f].feat_index }}" class="interactions-graphs table-hidden">
    {% for i in data.feature_interactions[f].other_features %}
        {% if data.feature_interactions[f].scatterplots[i] %}
        <img src="{{ data.feature_interactions[f].scatterplots[i] }}" >
        {% endif %}
        {% if data.feature_interactions[f].ttests[i] %}
        <div>data.feature_interactions[f].ttests[i]</div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock %}