{% extends "base.html" %}
{% block content %}

<!--Data set title-->
<h3>Data set: {{ data.name }}</h3>

<!-- Summary statistics organized in a table-->
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
        {% for h in data.headers %}
        <td>{{ h }}</td>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in data.statslist %}
    <tr>
        {% for val in row %}
        <td>{{ val }}</td>
        {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<!-- Histograms -->
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
        <td>Feature</td>
        <td>Histogram</td>
    </tr>
  </thead>
  <tbody>
  {% for key in hist.hist_urls.keys() %}
    <tr>
        <td>{{ key }}</td>
        <td><img src="{{ hist.hist_urls[key] }}" /></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}