{% extends "base.html" %}
{% block content %}

<!--Data set title-->
<h3>Univariate Analysis</h3>

<!-- Toggle between variables -->

<div class="container dataset-menu">
        <span class="custom-dropdown custom-dropdown--white custom-dropdown--border">
            <select id="feature_selector" class="custom-dropdown__select custom-dropdown__select--white">
                {% for f in mydata.features %}
                <option value="{{ f.feat_index }}">{{ f.feat_name }}</option>
                {% endfor %}
            </select>
        </span>
</div>

<!-- Table with stats -->
{% for f in mydata.features %}
<div id="feature-{{ f.feat_index }}" class="feature-tables table-hidden">
<h4>{{ f.feat_name }}</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th rowspan="2">
                Overview
            </th>
        </tr>
        </thead>
        <tr>
            <td>Name</td>
            <td>{{ f.feat_name }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ f.feat_type }}</td>
        </tr>
        <tr>
            <td>Count</td>
            <td>{{ f.feat_count }}</td>
        </tr>
        <tr>
            <td># Missing</td>
            <td>{{ f.feat_missing }}</td>
        </tr>
        <tr>
            <td># Unique</td>
            <td>{{ f.feat_unique }}</td>
        </tr>
        </table>
</div>

<!-- Numeric fields only -->
{% if f.feat_average %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th rowspan="2">
                Central tendency
            </th>
        </tr>
        </thead>
        {% if f.feat_average %}
        <tr>
            <td>Mean</td>
            <td>{{ f.feat_average }}</td>
        </tr>
        {% endif %}
        {% if f.feat_median %}
        <tr>
            <td>Median</td>
            <td>{{ f.feat_median }}</td>
        </tr>
        {% endif %}
        {% if f.feat_mode %}
        <tr>
            <td>Mode</td>
            <td>{{ f.feat_mode }}</td>
        </tr>
        {% endif %}
        {% if f.feat_max %}
        <tr>
            <td>Max</td>
            <td>{{ f.feat_max }}</td>
        </tr>
        {% endif %}
        {% if f.feat_min %}
        <tr>
            <td>Min</td>
            <td>{{ f.feat_min }}</td>
        </tr>
        {% endif %}
        </table>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th rowspan="2">
                Distribution
            </th>
        </tr>
        </thead>
        {% if f.feat_stddev %}
        <tr>
            <td>Standard deviation</td>
            <td>{{ f.feat_stddev }}</td>
        </tr>
        {% endif %}
        {% if f.feat_variance %}
        <tr>
            <td>Variance</td>
            <td>{{ f.feat_variance }}</td>
        </tr>
        {% endif %}
        {% if f.feat_quantile_25 %}
        <tr>
            <td>25%</td>
            <td>{{ f.feat_quantile_25 }}</td>
        </tr>
        {% endif %}
        {% if f.feat_quantile_75 %}
        <tr>
            <td>75%</td>
            <td>{{ f.feat_quantile_75 }}</td>
        </tr>
        {% endif %}

        <!-- Categorical only -->
        {% if f.feat_mostcommon %}
        <tr>
            <td>Most common value</td>
            <td>{{ f.feat_mostcommon }}</td>
        </tr>
        {% endif %}
        {% if f.feat_leastcommon %}
        <tr>
            <td>Least common value</td>
            <td>{{ f.feat_leastcommon }}</td>
        </tr>
        {% endif %}

        <!-- range, quartile, IQR, variance, std dev, skewness and kurtosis -->
        <!-- outliers -->
    </table>
</div>
<br/>
</div>
{% endfor %}

<div id="graphs">
    {% for f in mydata.features %}
        <div id="graph-{{ f.feat_index }}" class="feature-graphs table-hidden">
            {% if f.graph_histogram %}
            <h4>Histogram</h4>
            <img src="{{ f.graph_histogram }}" />
            {% endif %}

            {% if f.graph_countplot %}
            <h4>Count plot</h4>
            <img src="{{ f.graph_countplot }}" />
            {% endif %}
        </div>
    {% endfor %}
    <!-- Histogram -->
    <!-- Box plot -->
</div>


<!--&lt;!&ndash; Histograms &ndash;&gt;-->
<!--<h4>Histograms</h4>-->
<!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<td>Feature</td>-->
            <!--<td>Histogram</td>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{% for key in hist.hist_urls.keys() %}-->
        <!--<tr>-->
            <!--<td>{{ key }}</td>-->
            <!--<td><img src="{{ hist.hist_urls[key] }}" /></td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->

<!--&lt;!&ndash; Count plots &ndash;&gt;-->
<!--<h4>Count Plots</h4>-->
<!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<td>Feature</td>-->
            <!--<td>Count plot</td>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{% for key in cplots.countplots_url.keys() %}-->
        <!--<tr>-->
            <!--<td>{{ key }}</td>-->
            <!--<td><img src="{{ cplots.countplots_url[key] }}" /></td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->

{% endblock %}