{% extends "base.html" %}
{% block content %}

<h3>Upload a data set</h3>

<div id="fileUploadDiv">
    <form action="upload" method="post" enctype="multipart/form-data" id="fileUpload">
        <table class="table table-striped">
            <tr>
               <td style="font-weight: 500;">
                   File
               </td>
                <td>
                   <input type="file" id="file" name="file" >
               </td>
            </tr>
            <tr>
                <td style="font-weight: 500;">
                    Title
                </td>
                <td>
                    <input type="text" name="title" id="title" >
                </td>
            </tr>
            <tr>
                <td>
                    ID column name
                </td>
                <td>
                    <input type="text" name="id">
                </td>
            </tr>
            <tr>
                <td>
                    Label column name
                </td>
                <td>
                    <input type="text" name="label">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}